<form (ngSubmit)="submitForm()" ngNativeValidate>

  <div class="action-box">
    <h2>Great, Let's get you some raffle tickets</h2>
    <p>You do not have to be present to win raffle prizes. When you purchase raffle tickets we take the
      ordered amount of tickets and put them in the raffle box for you.</p>
    <label for="howmany">How many raffle tickets woud you like to purchase?</label>
    <select id="howmany" name="select" [(ngModel)]="this.ticketAmount" (ngModelChange)="determinePackage()">
        <option [ngValue]="500" selected>1 ticket - $5.00</option>
        <option [ngValue]="1000">3 tickets - $10.00</option>
        <option [ngValue]="2000">8 tickets - $20.00</option>
        <option [ngValue]="2500">10 tickets - $25.00</option>
        <option [ngValue]="5000">25 tickets - $50.00</option>
        <option [ngValue]="10000">60 tickets - $100.00</option>
      </select>
    <div class="error-box" *ngIf="oops">Ugh! Something did not work quite right for you. Try clicking your option again. If it screws again
      please shoot me an email at
      <a href="mailto:admin@twentz.com">admin@twentz.com</a></div>
    <!-- <p class="sub-head">Almost Done!</p> -->
    <button type="submit" (click)="payOnline = true" class="action breathe-top" [disabled]="isProcessing">Pay online now</button>
  </div>
</form>
