<div class="wrapper">
  <header>
    <h1 class="site-title"><a href="https://www.twentz.com/" rel="home">twentz.com</a></h1>
    <p class="site-description">#TeamTyler</p>
  </header>
  <div class="main-body">
    <h2 class="heading">Second Annual Tyler Wentz Memorial Golf Tournament Registration</h2>
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <p>The Tyler Wentz Memorial Fund is a registered 501(c) (3) nonprofit organization.<br>IRS #81-4034816 Copyright © 2017 by
    the Tyler Wentz Memorial Fund</p>
</footer>
