/*------------------------------------*\
    Color Variables
\*------------------------------------*/

$white: #FFFFFF !default;
$black: #131313 !default;
$primary-blue: #2c3e50 !default;
$primary-red: #b02f33 !default;
$secondary-blue: #6bb9d8 !default;
$secondary-blue-dark: #0D74AF !default;
$secondary-blue-light: #019ED5 !default;
$primary-green: #0EA218 !default;
$primary-green-dark: #128020 !default;
$gray-darker: #828282 !default;
$gray-dark: #CFCFCF !default;
$gray: #DCDCDC !default;
$gray-light: #E8E8E8 !default;
$charcoal-ultralight: #F2F3F4 !default;
