/*------------------------------------*\
         Page default styles
\*------------------------------------*/

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}

// styles below are meant to handle common browser issues and standards
*,
*:after,
*:before {
  box-sizing: inherit;
}

// removes extra down arrow from dropdown on IE10+ --> investigate/confirm --> OneUI
select::-ms-expand {
  display: none;
}

//hide content for usability needs
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

// hide content on mobile
.mobile-hidden {
  display: block;
  @include phone-only {
    display: none !important;
  }
}

// show content on mobile only
.mobile-only {
  display: block;
  @include tablet-portrait-up {
    display: none !important;
  }
}

.main-body {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  height: 100%;
  padding: 0.25em 0.25em;
  .heading {
    padding-top: 1em;
    text-align: center;
    font-size: ms(7);
  }
}

.content {
  text-align: center;
  padding: 0 0.5em;
}

.info {
  font-size: ms(2);
}

p {
  margin-left: auto;
  margin-right: auto;
}
